PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pills?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/pills?schema=public"

JWT_SECRET="ganti"
JWT_EXPIRES_IN="1d"

HARDWARE_API_KEY="ganti"

MQTT_ENABLED=false
MQTT_URL="mqtts://ganti-host-cluster.s1.eu.hivemq.cloud:8883"
MQTT_USERNAME="ganti"
MQTT_PASSWORD="ganti"
MQTT_TOPIC_PREFIX="pills"