PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pills?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/pills?schema=public"

JWT_SECRET="-"
JWT_EXPIRES_IN="-"

HARDWARE_API_KEY="-"