PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pills?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/pills?schema=public"

JWT_SECRET="ganti"
JWT_EXPIRES_IN="1d"

HARDWARE_API_KEY="ganti"